@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: map-get($map: $colors, $key: couleurPrimaire);
  font-size: x-large;
  margin: 2rem 3rem 2rem;

  @include mobile{
    margin: 2rem 1rem 2rem;
  }

  &__congrat {
    margin-top: 2rem;
  }

  &__contentCenter {
    text-align: center;
  }

  &__contentList {
    margin: 1rem 0 1rem 1.5rem;
  }

  &__img {
    width: 30rem;
    margin: 1rem auto 1rem;
    border-radius: 50%;

    @include mobile {
      width: 100%;
    }

    @include tablette {
      width: 25rem;
    }
  }
}

.toolCards {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: 3rem 0 3rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 1.5rem;
    padding: 0 2rem 0;

    @include mobile{
      grid-template-columns: 1fr;
      padding: 0 1rem 0;
    }

    @include tablette{
      grid-template-columns: 1fr;
    }
  }
}

.testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  margin-bottom: 3rem;
}

.testimonyContainer {
  display: flex;
  margin: 3rem 1rem 0;
  overflow-x: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border: 1px solid white;
  position: relative;

  &__items {
    display: flex;
    column-gap: 2.5rem;
    padding: 1rem 0 1rem;
  }

  &:-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    height: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: map-get($map: $colors, $key: couleurPrimaire);
    border-radius: 4px;
  }

  &__buttonLeft {
    position: sticky;
    background-color: transparent;
    border: none;
    top: 50%;
    left: -10px;
    z-index: 1;
    cursor: pointer;

    img {
      rotate: 90deg;
    }
  }

  &__buttonRight {
    position: sticky;
    background-color: transparent;
    border: none;
    top: 50%;
    right: -10px;
    z-index: 1;
    cursor: pointer;

    img {
      rotate: -90deg;
    }
  }
}