$breakpoints: (
    mobile: 767px,
    tablette: 768px,
    tablette-max: 1023px,
    desktop: 1024px
);

$colors: (
    couleurPrimaire: #4C0013,
    couleurSecondaire: #F7DEA8,
    couleurTertiaire: #9e5b40,
);