@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";


.form{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: large;
    background-color: map-get($map: $colors, $key: couleurSecondaire);
    &__container{
        display: flex;
        width: 60%;
        flex-direction: column;
        row-gap: 25px;
        @include mobile
        {
            width: 80%;
        }
        @include tablette {
            width: 75%;
        }
    }
    &__champ{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .box{
            border-color: map-get($map: $colors, $key: couleurPrimaire);
            border-style: solid;
            border-width: 2.5px;
            padding: 5px;
            border-radius: 5px;
        }
    }
    &__check{
        text-align: justify;
        justify-content: center;
        font-size: 1.5rem;
        #conditions.conditions{
            margin-right: 0.5rem;
        }
    }
    &__submit{
        text-align: right;
        &__button{
            padding: 10px;
            margin-bottom: 1rem;
            border-color: map-get($map: $colors, $key: couleurPrimaire);
            font-size: large;
            border-style: solid;
            border-width: 2.5px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}