@import "../../scss/utils/variables.scss";

.contact {
    margin-bottom: 3rem;
    
    &__head {
        background-color: map-get($map: $colors, $key: couleurSecondaire);
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        font-size: x-large;
        text-align: center;
        line-height: 55px;
        letter-spacing: 5px;

        &__title {
            width: 100%;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        &__subtitle {
            font-family: serif;
        }
    }

}