@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.header{
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: map-get($map: $colors, $key: couleurPrimaire);
    width: 100%;

    .structure {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 75%;

        @include mobile {
            justify-content: flex-start;
            width: 30%;
        }
        @include tablette {
            justify-content: flex-start;
            width: 50%;
        }
    }
    &__phone {
        text-align: right;
        padding-right: 25px;
        padding-bottom: 25px;
        font-size: x-large;
        background: linear-gradient(90deg, #462523 21%, #cb9b51 40%, #f6e27a 60%, #f6f2c0 75%, #f6e27a 80%, #cb9b51 95%, #462523 100%);
        @include goldendegradas;

        @include mobile {
            display: none;
        }
        @include tablette {
            display: none;
        }
    }
    &__facebook{
        text-align: center;
        align-self: center;
        font-size: x-large;
        color: map-get($map: $colors, $key: couleurSecondaire);
    }

    &__nav {
        display: flex;
        justify-content: right;
        font-size: x-large;

        a:hover {
            color: map-get($map: $colors, $key: couleurTertiaire);
        }

        @include mobile {
            max-height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            font-size: medium;
            text-align: right;
            transition: max-height 1.5s ease-in-out;
        }
        @include tablette {
            max-height: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            font-size: x-large;
            text-align: right;
            transition: max-height 1.5s ease-in-out;
        }

        &.nav-open {
            @include mobile {
                display: flex;
                flex-direction: column;
                font-size: medium;
                text-align: right;
                max-height: 400px;
                transition: max-height 1.5s ease-in-out;
            }
            @include tablette {
                display: flex;
                flex-direction: column;
                font-size: x-large;
                text-align: right;
                max-height: 400px;
                transition: max-height 1.5s ease-in-out;
            }
        }

        &__link {
            color: #f7dea8;
            padding: 10px;

            @include mobile {
                padding: 10px 1rem 10px 0;
            }
        }
    }

    &__logo img {
        width: 35%;

        @include mobile {
            width: 30%;
        }
    }

    &__logo {
        margin-left: 1.5vw;

        &__text {
            color: map-get($map: $colors, $key: couleurSecondaire);
            font-size: x-large;
            font-family: 'Alex Brush', cursive;

            @include mobile {
                font-size: large;
            }
        }
    }

    .menu-icon {
        cursor: pointer;
        color: map-get($map: $colors, $key: couleurSecondaire);
        font-size: x-large;
        padding: 1rem 1rem 2rem 0;
        align-self: flex-end;

        @include tablette {
            font-size: xx-large;
            padding: 1rem 1rem 2.75rem 0;
        }
        @include desktop {
            display: none;
        }
    }
}