@import '../../scss/utils/variables.scss';
@import '../../scss/utils/mixins.scss';

.bannerPicture{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    border-top: 4px solid map-get($map: $colors, $key: couleurPrimaire );
    border-bottom: 2px solid map-get($map: $colors , $key: couleurPrimaire );
    background-size: cover;
    background-position: center;

    &__container{
        margin: 10rem 0 10rem;
        padding: 2rem 5rem 2rem;
       
        @include tablette{
            margin: 8rem 0 8rem;
            padding: 1.5rem 3.8rem 1.5rem;
        }
    
        @include mobile{
            margin: 6rem 0 6rem;
            padding: 1rem 2rem 1rem;
        }
        background-color: rgba(128, 128, 128, 0.5);
        &__title{
            font-size: 5rem;
            color: white;

            @include tablette{
                font-size: 4rem;
            }
        
            @include mobile{
                font-size: 3rem;
            }
        }
    }
}