@import "../../scss/utils/variables.scss";

.error404{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__error{
        font-size: 5rem;
    }
    &__message{
        font-size: x-large;
    }
}