@import "../../scss/utils/mixins.scss";
@import "../../scss/utils/variables.scss";


.container{
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 2.5rem;
    &__map{
        width: 60%;
        height: 450px;
        border-color: map-get($map: $colors, $key: couleurPrimaire);
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        @include mobile
        {
            width: 80%;
        }
        @include tablette {
            width: 75%;
        }
    }
}