@import "../../scss/utils/variables.scss";
@import "../../scss/utils/mixins.scss";

.questionarySection {
    margin-bottom: 3rem;
}

.application {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__text {
        margin: 3rem 3rem;
        color: map-get($map: $colors , $key: couleurPrimaire);
        font-size: x-large;
        text-align: justify;
        font-family: 'Aref ruqaa';

        @include mobile {
            margin: 2rem 1rem 2rem;
        }

        ul {
            padding-left: 2em;
        }

        li {
            font-family: 'Aref ruqaa';
        }
    }
}

.toolsDescription {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &__text {
        margin: 3rem 3rem;
        color: map-get($map: $colors , $key: couleurPrimaire);
        font-size: x-large;
        text-align: justify;
        font-family: 'Aref ruqaa';

        @include mobile {
            margin: 2rem 1rem 2rem;
        }

        ul {
            padding-left: 2em;
        }

        li {
            font-family: 'Aref ruqaa';
        }

        &__warning {
            padding-left: 2rem;
            font-size: x-large;
            text-align: justify;
            font-family: 'Aref ruqaa';
        }
    }
}